* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
}

.info-box {
    display: flex;
}


/* section 1 : booking */

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 185px;
    padding: 0.5em;
}



.location-box {
    background-color: #eaeaea;
    border-top: solid 2px rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.8em;
}

.fa-map-marker-alt {
    font-size: 0.7em;
    padding-right: 0.5em;
    color: rgb(53, 53, 53);
}

.location-box input {
    border: none;
    background-color: #eaeaea;
    font-weight: bold;
}

.booking-box {
    text-align: center;
    padding: 0.7em;
    background-color: rgb(246, 246, 246);
}

h1 {
    padding-top: 15px;
}

.booking-box p {
    color: rgb(77, 77, 77);
    font-size: 1.1em;
    padding-top: 0.5em;
    font-weight: 300;
    padding-bottom: 20px;
}

.booking-button {
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    height: 3.2em;
    padding: 0 1em 0 1em;
    margin: 10px 0 35px 0;
    cursor: pointer;
}

.booking-button:active {
    transform: scale(0.9);
}

/* Section 2 : menu */

.menu-container {
    margin-top: 35px;
}

h2 {
    padding-left: 18px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list li {
    border: 0px solid transparent;
    box-shadow: 6px 6px 10px #e7e7e7;
    background-color: #f6f6f6;
    border-radius: 20px;
    height: 60px;
    width: 85%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.9em;
}

.list i {
    padding: 0 18px 0 15px;
    color: rgb(126, 126, 126);

}

.list-number {
    border: none;
    background-color: #9356dc;
    text-align: center;
    font-size: 0.8em;
    font-weight: 300;
    color: white;
    border-radius: 20px;
    height: 1.3em;
    width: 1.3em;
    margin-left: -8px;
}

 /* Section 3 : Restaurants*/

 section a { 
    color: black; 
}

.background-container {
    background-color: rgb(246, 246, 246);
    margin-top: 45px;
    padding: 35px 0 45px 0;
}

 .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }


.restaurant-box {
    width: 90%;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    border: solid 1px transparent;
    box-shadow: 10px 10px 15px #e7e7e7;
}

.restaurant-img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.info-box {
    display: flex;
    justify-content: space-between;
    margin: 0.4em 1em;
    font-size: 0.9em;
}

.icon-box {
    font-size: 1.3em;
}

 /* Footer*/

footer, footer a {
    background-color: rgb(53, 53, 53);
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer h2 {
    font-family: 'Shrikhand', Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    padding: 20px 0 10px 20px;
}

footer ul {
    padding-bottom : 25px;
}

footer li {
    font-size: 0.8em;
    padding: 6px 0 0 20px;
}

footer i {
    font-size: 0.6rem;
}

.fa-utensils {
    padding-right: 10px;
}

.fa-hands-helping {
    padding-right: 6px;
}

@media all and (min-width: 512px) {
    footer {
        padding-left: 20px;
    }
}

@media all and (min-width: 768px) {
    .booking-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    h1 {
        font-size: 1.1em;
        width: 27%;
        padding-top: 15px;
    }

    .booking-box p {
        font-size: 1em;
    }

    .menu-container h2 {
        text-align: center;
    }

    .list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 95%;
        margin: 0 auto;
    }

    .list li {
        width: 30%;
    }

    .restaurant {
        margin: 0 auto;
    }

    .restaurant-box {
        width: 45%;
        margin-bottom: 10px;
    }
    .background-container h2 {
        padding-left: 4%;
    }

}