body {
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.fas {
    color: rgb(126, 126, 126);
}

.info-box {
    display: flex;
}



@media all and (min-width: 512px) {
    body {
        background-color: greenyellow;
    }
}

@media all and (min-width: 768px) {
    body {
        background-color: red;
    }
}

img {
    object-fit: cover;
}

.restaurant-img {
    width: 100%;
}

.fa-stack-1x {
    color: white;
}

/* section 1 */

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 50%;
    padding: 0.5em;
}

.location-box {
    background-color: #eaeaea;
    border-top: solid 2px rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.8em;
    width: 100%;
}

.fa-map-marker-alt {
    font-size: 0.7em;
    padding-right: 0.5em;
    color: rgb(53, 53, 53);
}

.location-box input {
    border: none;
    background-color: #eaeaea;
    font-weight: bold;
}

.booking-box {
    text-align: center;
    padding: 0.7em;
    background-color: rgb(246, 246, 246);
}

h1 {
    padding: 0 1.5em 0 1.5em;
}

.booking-box p {
    color: rgb(77, 77, 77);
    font-size: 1.1em;
}

.booking-button {
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    height: 2.9em;
    padding: 0 1em 0 1em;
    margin: 10px 0 30px 0;
}

.booking-button:hover {
    transition: ease 0.3s;
    transform: scale(1.1);
}

.booking-button:active {
    transform: scale(0.9);
}

/* Fonctionnement */

.list {
    padding: 20px;
}

.list li {
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px 20px 20px 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.list-number {
    border: none;
    background-color: pink;
    text-align: center;
    font-size: 1.2em;
    color: white;
    border-radius: 20px;
    height: 1.5em;
    width: 1.5em;
}