* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Roboto', Verdana, Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: 'Shrikhand', Verdana, Arial, Helvetica, sans-serif;
}

@keyframes appear {
    0% {
      transform: translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  

/* bannière */

.restaurant-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 0 5px 0;
}

.restaurant-header i {
    width: 5%;
    font-size: 0.9em;
    color: black;
}

h1 {
    width: 80%;
    font-size: 1.5em;
}

/* titre */

main {
    background-color: rgb(246, 246, 246);
    position: relative;
    border-radius: 35px 35px 0 0;
    margin-top: -50px;
}

main header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 25px 20px 0 20px;
}

h2 {
    font-size: 1.7em;
}

.icon-box {
    color: black;
    cursor: pointer;
  }

.heart-icon {
    font-size: 1.5em;
}
  
.heart-icon:hover{
    transition: ease-in-out 0.3s;
    opacity: 1;
    background: linear-gradient(#9356DC, #FF79DA);
    background:-webkit-linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
  }

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Les plats */

.dish-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p {
    font-size: 0.9em;
    padding-top: 2px;
}

h3 {
    padding: 20px 0 5px 0;
    margin: 0 auto;
    width: 92%;
    font-weight: 400;
    font-size: 1.1em;
    border-bottom: solid 3px; 
    border-image: linear-gradient(to right, #99e2d0 10%, #f6f6f6 10%) 100% 1;
}



h4 {
    font-weight: 500;
}

h4, p {
    overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
}

.dish-box {
    border: 0px solid transparent;
    box-shadow: 6px 6px 7px #e7e7e7;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 92%;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    animation: appear ease-in-out 0.8s;
    animation-fill-mode: both;
    overflow: hidden;
    cursor: pointer;
}

.dish-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.price {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 15px;
}

.confirmation {
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  width: 0%;
  transition-property: right, left;
  transition: width 1s;
  margin: -10px -30px -10px 20px;
  padding-left: 14px;
}

.dish-box:hover .confirmation{
 width: 6rem;
}

.fa-check {
  color: #99e2d0;
}

.confirmation-icon {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 20px;
  padding: 4px;
}

.dish-box:hover .confirmation-icon {
  transform: rotate(359deg);
  transition: transform 800ms;
}

/* Bouton*/

.order-box {
    display: flex;
    justify-content: center;
    padding: 40px 0 40px 0;
}

.order-button {
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: .25rem .25rem 10px rgba(0,0,0,.25);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    width: 170px;
    height: 3.2em;
    cursor: pointer;
}

.order-button:hover {
  opacity: 0.8;
  transition: ease-in-out 0.5s;
  box-shadow: .25rem .25rem 20px rgba(0,0,0,1);
}


/* Footer*/

footer, footer a {
    background-color: rgb(53, 53, 53);
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer h2 {
    font-size: 0.9em;
    padding: 20px 0 10px 20px;
}

footer ul {
    padding-bottom : 25px;
}

footer li {
    font-size: 0.8em;
    padding: 6px 0 0 20px;
}

footer i {
    font-size: 0.6rem;
}

.fa-utensils {
    padding-right: 10px;
}

.fa-hands-helping {
    padding-right: 6px;
}

@media all and (min-width: 512px) {
    main header {
        padding: 25px 25px 0 30px;
    }
    
    footer {
        padding-left: 20px;
    }
}

@media all and (min-width: 768px) {
    .dish-container {
        display: flex;
        justify-content: space-evenly;
    }

    section {
        width: 30%;
    }
}

#case-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#case-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#case-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#case-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#case-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#case-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#case-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#case-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#case-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;